<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="si2001" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="si2001" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="si2001" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="si2001" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="resources/css/app.css">
</head>
<body>
  <div class="container" data-ng-controller="MainController">
    {{helloWorld}}
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="resources/js/app.js"></script>
</body>
</html>
